
//  general
*{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;	
}

/*a:link{   
 text-decoration:none;   
}*/

/*a:visited{
	color: white;
}*/


html,body{
	width: 100%;
	min-height: 100%;
	border: 0;
	margin: 0 auto;
	padding: 0;	
	background-color: #fff;	
	text-align: center;
	font-family: arial,helvetica,sans-serif;
	font-size: 16px;
	background-color: $C_blue_screen
}

	html{
		position: relative;
	}

	#wrapper{
		width: 100%;
		height: 100vh;
		margin: 0 auto;		
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		background-color: $C_blue_DT_L;		
	}

	//  box-flex sistem
	.box-row{
		width: 100%;		
		display: flex;
		display: -webkit- flex;
		display: -moz- flex;
		flex-flow: row wrap;	
		-webkit-flex-flow: row wrap;	
		-moz-flex-flow: row wrap;	
		justify-content: space-between;
		-webkit-justify-content: space-between;
		-moz-justify-content: space-between;
	}

	.box-row-center{
		width: 100%;		
		display: flex;
		display: -webkit- flex;
		display: -moz- flex;
		flex-flow: row wrap;	
		-webkit-flex-flow: row wrap;	
		-moz-flex-flow: row wrap;	
		justify-content: center;
		-webkit-justify-content: center;
		-moz-justify-content: center;

	}


