
//estructura de colores del sistema

	//mobile
	$C_white_screen: #fff;
	$C_blue_screen: #0D5BA3;
	$C_white_G: #fff;
	$C_white_h1: #fff;
	$C_white_h2: #fff;
	$C_white_h3: #fff;
	$C_white_p: #fff;	
	$C_blue_DT: #003773;
	$C_blue_DT_L: #0D5BA3;
	$C_logo_blue: #223C6A;
	$C_logo_red: #ED3237;

		//gradients
		$gradient_blue1: linear-gradient(to right, rgba(0,22,115,1), rgba(20,171,252,.6), rgba(0,22,115,1));


		//botones
		$btn_blue1: #003773;

		//hovers
		$btn_blue1_hover: #14BDFC;
		$hover_sobre_blue: #14DBFC;


