
//estructura de colores del sistema

	//mobile

		//fonts types
		$font_L1: arial,helvetica,sans-serif;


		//fonts sizes
		$font_plus1: 2.0rem;
		$font_h1: 1.6rem;
		$font_h2: 1.4rem;
		$font_h3: 1.2rem;
		$font_p: 1.1rem;
		

	