
//desktop header
@media (min-width: 1150px) and (max-width: 2800px){

	footer{
		width: 100%;
		height: auto;
		display: none;
	}

	header{
		width: 90%;
		height: auto;
		margin: 0 auto;
		padding: 0;
		background-color: $C_white_screen;		
	}	

		#sesion{			
			display: none;	
		}

		nav{
			width: 100%;
			height: 70px;
			margin: 0%;
			padding: 0%;
			text-align: center;			
		}	

			nav img{
				width: 200px;
				height: 70px;
				margin: 0%;
				padding: 0%;
				display: inherit;
				cursor: pointer;			
			}

			nav h2{
				width: 35%;
				height: auto;
				font-family: arial,helvetica,sans-serif;
				font-size: 1.2rem;
				color: $C_blue_DT;
				margin-top: 2.5%;
				display: inherit;
			}		

			nav #topips{
				width: 40%;				
				height: 70px;
				margin: 0% 0% 0% 0%;
				padding: 0px;
				display: inherit;			
				display: inline-block;				
			}

				nav #topips div{
					width: 17%;					
					height: 40px;					
					font-size: 0.9rem;
					font-weight: 600;
					color: $C_blue_DT;
					padding: 1.5% 0% 0% 0%;
					margin: 5% 0% 0% 0%;
					text-align: center;					
					display: inline-block;
					border-radius: 5px;
					cursor: pointer;				
				}

					nav #topips div:hover{
						color: $C_logo_red;
					}


}

